<!DOCTYPE html>
<!This is the first page users will see> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EventMates</title>
    <link href="style.css" rel="stylesheet" type="text/css" />

  <style>
body{
  background-color: #E9E5D6;
}
    /*delete style.css imput*/
      h1{
  color: #116530;
}
h4{
  color: #464E2E;
}
h2{
  color: #ACB992;
}
h5{
  color: #464E2E;
}
a {
  color: #116530;
}
/*class selectors*/
.logo{
  border-radius: 100%;
}


/*topnav bar*******************************************/
.topnav {
  background-color: #464E2E;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ACB992;
  color: white;
}
/*topnav search bar**************************************/
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
    input[type=submit]{
  background-color: #116530;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  }

    /*changed the xx.html to the route name in urlpatten*/
  </style>

</head>
  
  <body>
      <table>
        <tr>
          <td>
            <div class = "contenthead">
              <img class="logo" src="https://i.imgur.com/pSrQous.png"    width="100" title="project icon">
          </td>
          <td>
            <h1>EventMates</h1>
          </td>
            </div>
          </tr>
      </table>
      <div class = "contenthead">
        
      </div>
       <!Main buttons section ********************>
      <div class="topnav">
        <a href="Home">Home</a>
        <a href="{% url 'Myevents'%}">My Events</a>
        <a class="active" href="about.html">About Us</a>
        <a href="ContUs">Contact Us</a>
    </div>

      <!Users can contact our developer team here. This is for questions, comments, or conserns with our website. We want to insure that the user has a great experience using our soical platform.>
      <h4 style="text-align:center; font-size: 25px;">How EventMates Came To Be</h4>
      <h5 style="text-align:center; font-size: 20px;">EventMates is a soical platfom created in Spring 2022. It was created for a Software Engineering class and this was our proposed senior level project. Our team is consisted of four developers, searching for a way to explore our city. That is how EventMates was created, it started with an idea of bucketlist website and grew into an events soical platform targeted to our San Marcos, TX area. In the future we hope to expand our target audience. We felt as if with the balance of school and soical life, it was hard to organize our plans with our friends.</h5>
        <hr></hr>

        <h4 style="text-align:center; font-size: 25px;">Why You Should Use Our Website</h4>
        <h5 style="text-align:center; font-size: 20px;">
          With EventMates, it makes it easier to plan, share, and create all in one place. EventMates is a way to organize and create buckletlist events for you and your friends. You have the ability to create an account to always come back to our site. You also have the abilty to post, like, and share events that you create. Your events can be as structured or as care-free as you please. If you are stuck on what events to make, check out our Featured Events page where our developers have came up with fun and convential things to do in your area! Once you select a list you are able to complete it by yourself or with a friend. You can even head to the My Mates page to find and message all of your friends.
        </h5>
        <hr></hr>

    
    
        <h4 style="text-align:center; font-size: 25px;">Meet Our Developers</h4>
    <h5 style="text-align:center; font-size: 20px;">
          UI Designer, Jordan Finney
    </h5>
    <h5 style="text-align:center; font-size: 20px;">
          Jordan Finney is the UI Designer and developed most of the visuals of the website. She worked in HTML, CSS, and some JavaScript. 
    </h5>
    <hr></hr>
     <h5 style="text-align:center; font-size: 20px;">
        Back-End Developer, Ertugrul Oksuz
    </h5> 
    <h5 style="text-align:center; font-size: 20px;">
        Ertugrul Oksuz is our Back-End Developer that created user profiles and made the ability to create a bucketlist. He was also in charge of user login data and info.
    </h5>     
    <hr></hr>
    <h5 style="text-align:center; font-size: 20px;">
        Back-End Developer, Kaizhao Cheng
    </h5> 
    <h5 style="text-align:center; font-size: 20px;">
        Kaizhao Cheng is also a Back-End Developer that worked closely with Ertugrul to make the best experience for our users. He also developed the "My Mates" functionality and gave the users the ability to message one another. 
    </h5> 


        <hr></hr>
        <H4 style="text-align:center; font-size: 25px;">How Our Website Works</H4>
        <h5 style="text-align:center; font-size: 20px;">First, head to the Login Page and create your EventMates account. From there, costumize and create your profile. You can add a profile picture, a bio, and be sure to start creating a bucketlist that you wish to do. Be aware that you can craete multiple lists and even add friends, locations, and time to make your event more offical. If you are stuck, head to the Featured Page. The Featured Page is a frequently updated list created by our developers and consist of all of their favorite things to do around town!</h5>

  </body>
</html>