<!DOCTYPE html>
<!This is the first page users will see> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EventMates</title>
    <link href="style.css" rel="stylesheet" type="text/css" />

  <style> 
    body{
  background-color: #E9E5D6;
}
  input[type=submit]{
  background-color: #116530;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  }
       /*delete style.css imput*/
      h1{
  color: #116530;
}
h4{
  color: #464E2E;
}
h2{
  color: #ACB992;
}
h5{
  color: #464E2E;
}
a {
  color: #116530;
}
/*class selectors*/
.logo{
  border-radius: 100%;
}


/*topnav bar*******************************************/
.topnav {
  background-color: #464E2E;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ACB992;
  color: white;
}
/*topnav search bar**************************************/
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
    input[type=submit]{
  background-color: #116530;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  }

        /*changed the xx.html to the route name in urlpatten*/
</style>
</head>
  
  <body>
         <table>
        <tr>
          <td>
            <div class = "contenthead">
              <img class="logo" src="https://i.imgur.com/pSrQous.png"    width="100" title="project icon">
          </td>
          <td>
            <h1>EventMates</h1>
          </td>
            </div>
          </tr>
      </table>
       <!Main buttons section ********************>
       <div class="topnav">
        <a href="Home">Home</a>
        <a href="{% url 'Myevents'%}">My Events</a>
        <a href="AboutUs">About Us</a>
        <a class="active" href="ContUs">Contact Us</a>
    </div>

      <!Users can contact our developer team here. This is for questions, comments, or conserns with our website. We want to insure that the user has a great experience using our soical platform.>
      <h4 style="text-align:center; font-size: 25px;">Contact Us!</h4>
      <h5 style="text-align:center; font-size: 20px;">Users can contact our developer team here. This is for questions, comments, or conserns with our website. We want to insure that the user has a great experience using our soical platform.</h5>
      <h5 style="text-align:center; font-size: 20px;">Please type your comment here and we will get back to you as soon as we can!</h5>
    
    <form action=mailto:Jordan.Finney.JF@gmail.com method="post" enctype="text/plain" style=align:center> 
      <label>Your Name: </label>
      <input type="text" name="yourName" value=""><br>
       <label>Your Email: </label>
      <input type="email" name="yourEmail" value=""><br>
      <label>Your Message: </label><br>
      <textarea name="yourMessage" rows="10" cols="30"></textarea><br></br>
      <input type="submit" name="">
    </form>
  </body>
</html>