<!DOCTYPE html>
<!This is the login/feed page> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  
    <title>EventMates</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
     <link href="style.css" rel="stylesheet" type="text/css" />
     <link rel="stylesheet" type="text/css" href="./style.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="./index.js"></script>
    <script src="Map"></script>
    
<style>
.checked {
  color: orange;
}
#map{
  height: 400px;
  width: 100%;
}
body{
  background-color: #E9E5D6;
}

h1{
  color: #116530;
}
h4{
  font-size: 30px;
  color: #464E2E;
}
h2{
  font-size: 35px;
  color: #ACB992;
}
h5{
  color: #464E2E;
}
a {
  color: #116530;
}
/*class selectors*/
.logo{
  border-radius: 100%;
}
/*topnav bar*******************************************/
.topnav {
  background-color: #464E2E;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ACB992;
  color: white;
}
/*topnav search bar**************************************/
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
    input[type=submit]{
  background-color: #116530;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  }

  </style>
  </head>
    
  
  <body>
            <table>
        <tr>
          <td>
            <div class = "contenthead">
              <img class="logo" src="https://i.imgur.com/pSrQous.png"    width="100" title="project icon">
          </td>
          <td>
            <h1>EventMates</h1>
          </td>
            </div>
          </tr>
      </table>
      <!Main buttons section ********************>
      <!The home button would just refresh, bc this is         the home page>
    <div class="topnav">
        <a class="active" href="Home">Home</a>
        <a href="{% url 'Myevents'%}">My Events</a>
        <a href="AboutUs">About Us</a>
        <a href="ContUs">Contact Us</a>
    </div>


<h3>My Google Maps Demo</h3>
<div id="map"></div>


<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2hw7JrCR7s7VmLImDa8tICMG-nI51XPI &callback=initMap&v=weekly"
      async
    ></script>
     <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    
    
    <div><h2>Restaurants</h2></div>
    <table>
      <tr>
        <td><img src="https://www.riversandroutes.com/imager/files_idss_com/C391/images/listings/texas-roadhouse-ee98ee635056a36_e45adf5f6bc0c5c2a30a39868f44eab6.jpg" width="200" alt="Texas Roadhouse"></td>
        <td>
          <p>
          <h4>Texas Roadhouse</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.4  Steakhouse that specializes in steaks in a Texan and Southwestern cuisine style
          </p>
           <form action="/addTodo/" method="post" style = text-align:center>{% csrf_token %}
  <input type="submit" value="Add Event"/>
           </form>
        </td>
      </tr>
      <tr>
        <td><img src="https://s3-media0.fl.yelpcdn.com/bphoto/jKWQasR2n1pXY2EccbqahA/348s.jpg" width="200" alt="Saltgrass Steak House" </td>
        <td>
          <p>
          <h4>Saltgrass Steak House</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4. 2  Saltgrass Steak House recaptures the flavor of the open campfire. Steaks, chicken and seafood, chargrilled to perfection.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="http://www.restaurantnews.com/wp-content/uploads/2020/10/Cracker-Barrel-Old-Country-Store-Kicks-Off-Military-Family-Appreciation-Month-by-Honoring-Those-Who-Have-Served.jpg" width="200" alt="Cracker Barrel" </td>
        <td>
          <p>
          <h4>Cracker Barrel</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.3  If you're looking for the best breakfast all day, lunch, and dinner restaurant, then visit your friendly neighborhood Cracker Barrel Old Country Store.
          </p>
        </td>
      </tr>
    </table>

    
    <div><h2>Movie Theaters</h2></div>
    <table>
      <tr>
        <td><img src="https://static.wixstatic.com/media/cd49c4_8416ae45a30a436bbac5bd83800bc581~mv2.jpg/v1/fill/w_2500,h_1668,al_c/cd49c4_8416ae45a30a436bbac5bd83800bc581~mv2.jpg" width="200" alt="evo cinema"></td>
        <td>
          <p>
          <h4>Evo Entertainment Springtown</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.4  EVO® is your one-stop entertainment destination featuring a 6 screen dine-in cinema, Scratch Kitchen, Craft Cocktail Bar, Bowling Lanes & More.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://static.wixstatic.com/media/cd49c4_bb83a9e5524c4899aae76d48627795b2~mv2.jpg/v1/fill/w_640,h_506,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/cd49c4_bb83a9e5524c4899aae76d48627795b2~mv2.jpg" width="200" alt="evo starplex"></td>
        <td>
          <p>
          <h4>Evo Cinemas Starplex</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.2  Standard theater featuring an array of first-run films, plus a concession stand with draft beer.
          </p>
        </td>
      </tr>
    </table>

    
    <div><h2>Bowling</h2></div>
    <table>
      <tr>
        <td><img src="https://media-cdn.tripadvisor.com/media/photo-s/07/8a/3e/ea/evo-entertainment.jpg" width="200" alt="evo lanes"></td>
        <td>
          <p>
          <h4>Evo Entertainment Springtown Lanes</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.5  EVO® is your one-stop entertainment destination featuring a 6 screen dine-in cinema, Scratch Kitchen, Craft Cocktail Bar, Bowling Lanes & More.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://lh5.googleusercontent.com/p/AF1QipMum-JWlcEOwVXakD_orxnVFDugxhVcBlg_mHmc" width="200" alt="Sunset Bowling"></td>
        <td>
          <p>
          <h4>Sunset Bowling</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.0  Classic alley hosting walk-in bowling, leagues & parties 7 days a week, plus late-night deals.
          </p>
        </td>
      </tr>
    </table>

    
    
    <div><h2>8 Ball</h2></div>
    <table>
      <tr>
        <td><img src="https://s3-media0.fl.yelpcdn.com/bphoto/Iv77UoE11mWy13dIh9bo_Q/348s.jpg" width="200" alt="Cats Billards"></td>
        <td>
          <p>
          <h4>Cats Billards</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.0  Eight-foot pool tables and free pool with purchase. Juke box, cold beer and good friends.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://cloudinary-assets.dostuffmedia.com/res/dostuff-media/image/upload/venue-456487/1580946339.png" width="200" alt="Evo Entertainment Springtown"></td>
        <td>
          <p>
          <h4>Evo Entertainment Springtown</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.4  EVO® is your one-stop entertainment destination featuring a 6 screen dine-in cinema, Scratch Kitchen, Craft Cocktail Bar, Bowling Lanes & More.
          </p>
        </td>
      </tr>
    </table>


    <div><h2>The River</h2></div>
    <table>
      <tr>
        <td><img src="https://austinot.com/wp-content/uploads/2019/08/Underwater-Views-credit_-Jennifer-Idol-3.jpg" width="200" alt="Glass-Bottom Boat"></td>
        <td>
          <p>
          <h4>Meadows Center Glass-Bottom Boat Tours</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.8  Glass-bottom boat tours with focus on local aquifer & marine life, plus a small museum & aquarium.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://assets0.dostuffmedia.com/uploads/aws_asset/aws_asset/1099685/97090ffb-fcf1-4583-96fd-6e77cb257825.png" width="200" alt="San Marcos Lions Club Tube Rental"></td>
        <td>
          <p>
          <h4>San Marcos Lions Club Tube Rental</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          5.0  All-day tube, life jacket, and locker rentals along with a shuttle service that will transport you back and forth from our starting and pickup locations along the San Marcos River
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://www.smtxphotos.com/wp-content/uploads/2019/04/Sunset-in-Sewell-Park-San-Marcos-TX.jpg" width="200" alt="Sewell Park"></td>
        <td>
          <p>
          <h4>Sewell Park</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.7  Texas State's park along the 72-degree San Marcos River offers volleyball courts & picnic areas.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://lostinaustin.org/wp-content/uploads/2019/04/2019-06-15-rio-vista-park-san-marcos-justin-snider-rock-studios-purchased-25-1500.jpg" width="200" alt="Rio Vista Park"></td>
        <td>
          <p>
          <h4>Rio Vista Park</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.6  14-acre regional park featuring sports courts, a swimming pool, picnic areas & hiking/biking trails.
          </p>
        </td>
      </tr>
    </table>


    
    <div><h2>Hiking</h2></div>
    <table>
      <tr>
        <td><img src="https://media.discordapp.net/attachments/958121427658219540/960988583982944266/34035C57-C69F-4BAF-A08F-4E41DDE055BA.jpg?width=473&height=473" width="200" alt="Hiking"></td>
        <td>
          <p>
          <h4>Spring Lake Natural Area</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.7  A large tract of undeveloped meadow & wooded land featuring natural-surface trails.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://smcorridornews.com/wp-content/uploads/2016/05/swimming-beneath-falls-stokes-park-p1A-659x540.jpg" width="200" alt="Stokes Park"></td>
        <td>
          <p>
          <h4>Stokes Park</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.3  Green space centered around the San Marcos River offering walking trails & picnicking space.
          </p>
        </td>
      </tr>
    </table>
    
    
    
    <div><h2>Bars</h2></div>
    <table>
      <tr>
        <td><img src="https://taproom307.com/images/new.jpg?crc=491916890" width="200" alt="The Taproom"></td>
        <td>
          <p>
          <h4>The Taproom</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.5  The Taproom & The Porch serve up homemade burgers, ribs, wings & over 100 beers from around the world. Live music & events nightly.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Common_alcoholic_beverages.jpg" width="200" alt="Mayloos"></td>
        <td>
          <p>
          <h4>Mayloos</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.0  Mayloo's has a full-service bar in a historic building on the square. Sit outdoors on the deck and enjoy a refreshing beverage.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://images.squarespace-cdn.com/content/v1/57e5827446c3c485cd7d7b6f/1605305494932-BR7X4W07F8C0NFR5LFK3/PuttPub_2020-21.jpg?format=1000w" width="200" alt="Putt Pub"></td>
        <td>
          <p>
          <h4>Putt Pub</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          4.5  Putt Pub is a venue featuring 2 full bars, indoor and outdoor seating, food trucks (details coming soon), an 18-hole miniature golf course with tons of fun one-of-a-kind obstacles, games, and good vibes.
          </p>
        </td>
      </tr>
    </table>




    <div><h2>Clubs</h2></div>
    <table>
      <tr>
        <td><img src="https://txmusic.com/wp-content/uploads/2019/06/TheMarc_.jpg" width="200" alt="The Marc"></td>
        <td>
          <p>
          <h4>The Marc</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          3.3  Multilevel nightclub & music venue hosting a variety of live bands in a historical building.
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://assets.simpleviewinc.com/simpleview/image/upload/crm/sanmarcostx/Nephews2_DBA6C0B9-5056-A36F-230B49663FB0D3C0-dba6bfcd5056a36_dba6c110-5056-a36f-23b3a9a90cfbabbe.jpg" width="200" alt="Nephew’s"></td>
        <td>
          <p>
          <h4>Nephew’s</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          3.2  Nephews. Dance & Night Club. Biggest dive bar in Texas Located in downtown San Marcos $2 You-Call-It's every night until midnight .
          </p>
        </td>
      </tr>
      <tr>
        <td><img src="https://b.zmtcdn.com/data/pictures/1/16917481/58f853b2d22e905e478c2963e66a775b_featured_v2.jpg" width="200" alt="Rooftop on the Square"></td>
        <td>
          <p>
          <h4>Rooftop on the Square</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          3.9  Great bar to finish off a night of hanging out around the square in San Marcos. They have on open air rooftop bar area with a great view of the San Marcos Square.
          </p>
        </td>
      </tr>
    </table>


    
  </body>
</html>