<!DOCTYPE html>
<!This is the first page users will see> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EventMates</title>
    <link href="/templates/style.css" rel="stylesheet" type="text/css" />
    <style>
      body{
  background-color: #E9E5D6;
}
      h1{
  color: #116530;
}
h4{
  color: #464E2E;
}
h2{
  color: #ACB992;
}
h5{
  color: #464E2E;
}
a {
  color: #116530;
}
/*class selectors*/
.logo{
  border-radius: 100%;
}


/*topnav bar*******************************************/
.topnav {
  background-color: #464E2E;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ACB992;
  color: white;
}
/*topnav search bar**************************************/
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
  input[type=submit]{
  background-color: #116530;
  border: none;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  margin: 1px 2px;
  cursor: pointer;
  }
#new-task-form {
	display: flex;;
}
input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}
#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}
:root {
	--dark: #E9E5D6;
	--darker: #ACB992;
	--darkest: #ACB992;
	--grey: #464E2E;
	--pink:  #ACB992;
	--purple:  #464E2E;
	--light: #EEE;
}
h2{
  color: #464E2E;
}

    </style>
    
</head>
  
  <body>
      <table>
        <tr>
          <td>
            <div class = "contenthead">
              <img class="logo" src="https://i.imgur.com/pSrQous.png"    width="100" title="project icon">
          </td>
          <td>
            <h1>EventMates</h1>
          </td>
            </div>
          </tr>
      </table>
    
       <!Main buttons section ********************>
       <div class="topnav">
        <a href="Home">Home</a>
        <a href="{% url 'Myevents'%}"class="active" href="myevents.html">My Events</a>
        <a href="AboutUs">About Us</a>
        <a href="ContUs">Contact Us</a>
    </div>

    <h2 style = text-align:center>
      Add events to your personal bucketlist! 
    </h2>
    
   <form id="new-task-input" action="/addTodo/" method="post" style = text-align:center >{% csrf_token %}
  <input type="text" name="content" placeholder="Add Event"/>
  <input type="submit"  value="+"/>
</form>
    
    <ul style = text-align:center> 
  {% for todo_item in all_items %}
    <li>{{ todo_item.content }}
    <form action="/deleteTodo/{{todo_item.id}}/" 
    style="display: inline ;"
    method="post">{% csrf_token %}
      <input type="submit" value="Event Complete"/>
    </form>
    </li>
  {% endfor %}
</ul>
    
  </body>
</html>
