/*tag selectors************************************/
body{
  background-color: #E9E5D6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 5%;
  border-color: white;
  border-width: 5px;
}
h1{
  color: #116530;
}
h4{
  color: #464E2E;
}
h2{
  color: #ACB992;
}
h5{
  color: #464E2E;
}
a {
  color: #116530;
}
/*class selectors*/
.logo{
  border-radius: 100%;
}


/*topnav bar*******************************************/
.topnav {
  background-color: #464E2E;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ACB992;
  color: white;
}
/*topnav search bar**************************************/
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


